<ng-container *ngIf="isDataAvailable === true; then ok else load"></ng-container>
<ng-template #ok>

	<!-- BEGIN: Subheader -->
	<div class="m-subheader" appunwraptag="">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a routerLink="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>

					<li class="m-nav__item">
						<a routerLink="/levels/all-levels" class="m-nav__link">
							<span class="m-nav__link-text">
								كافة المستويات
							</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="col-xl-3 m--align-right order-1 order-xl-2">
				<a href="javascript:void(0)" (click)="goToAddLevel()" class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air">
					<span>
						<span>
							إضافة مستوى جديد
						</span>
						&nbsp;
						<i class="la flaticon-plus"></i>

					</span>
				</a>
				<div class="m-separator m-separator--dashed d-xl-none"></div>
			</div>

		</div>
	</div>
	<!-- END: Subheader -->

	<div class="m-content">
		<div class="row">
			<div class="col-xl-12">
				<!--begin::Portlet-->
				<div *ngIf="levels_view" class="m-portlet m-portlet--tab">

					<!-- <div class="m-portlet__head">
					<div class="m-portlet__head-caption">

						<div class="m-portlet__head-name">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
									كافة المستويات
							</h3>
						</div>

					</div>
				</div> -->

					<div class="m-portlet__body">
						<!--begin::Section-->
						<div class="m-section">
							<div class="m-section__content">

								<div class="row" [formGroup]="levelForm">

									<div class="col-md-10">

										<input id="searchName" type="text" [(ngModel)]="searchName" formControlName="searchName" class="form-control m-input"
										 placeholder="ابحث ب اسم المستوى ..." autocomplete="off">

									</div>
									<div class="col-md-2">

										<button type="button" class="btn btn-success" (click)="goToSearch(searchName)">بحث</button>

									</div>
								</div>

								<br>

								<ng-container *ngIf="all_levels?.length > 0; then data else noData"></ng-container>

								<ng-template #data>

									<div class="table-responsive">
										<table class="table table-bordered table-hover">
											<thead>
												<tr>
													<th style="width: 60px;">
														<label class="m-checkbox m-checkbox--success">
															<input type="checkbox" class="check_all" (click)="commService.check_all($event)">
															<span></span>
														</label>
													</th>

													<th>
														<span style="cursor: pointer;" (click)="getSortType('level_name')">
															<span *ngIf="levelStatus !== 'level_name'">اسم المستوى</span>
															<span *ngIf="levelStatus === 'level_name'" style="color: #34BFA3">اسم المستوى</span>
															&nbsp;
															<i *ngIf="levelStatus !== 'level_name'" class="fa fa-sort"></i>
															<ng-container *ngIf="levelStatus === 'level_name'">
																<i class="la la-sort-amount-asc" style="color: #34BFA3" *ngIf="this.sortDirection === 'asc'"></i>
																<i class="la la-sort-amount-desc" style="color: #34BFA3" *ngIf="this.sortDirection === 'desc'"></i>
															</ng-container>
														</span>
													</th>

													<th>تاريخ الإضافة</th>
													<th>أضيف بواسطة</th>

													<th style="width: 60px">تعديل</th>

												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let level of all_levels; let i = index;" [formGroup]="levelForm">

													<td>
														<label class="m-checkbox m-checkbox--success">
															<input class="checkbox_item" type="checkbox" name="items[]" (change)="commService.toggleCheckbox($event, level.id)"
															 value="{{level.id}}">
															<span></span>
														</label>
													</td>

													<td>{{ level.level_name }}</td>
													<td>{{ level.date_added }}</td>
													<td>{{ level.user_full_name }}</td>

													<td>
														<a routerLink="/levels/level/{{level.id}}" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
														 name="Edit details">
															<i class="la la-edit"></i>
														</a>

													</td>

												</tr>
											</tbody>
										</table>
									</div>

									<div class="row">
										<div class="col-md-4">
											<div style="margin-top: 10px;">

												<form class="m-form form-inline" id="deleteLevelForm" [formGroup]="deleteForm" (ngSubmit)="deleteLevelConfirm(deleteForm.value)">

													<div class="form-group">
														<select id="deleteMultiple" formControlName="deleteMultiple" [(ngModel)]="deleteMultiple" class="form-control m-input"
														 aria-describedby="option-error" aria-invalid="false" required>
															<option value="" [selected]="selectedOption === true">اختيار مهمة</option>
															<option value="delete">حذف</option>
														</select>
													</div>
													&nbsp; &nbsp;
													<button type="submit" class="btn btn-success" [disabled]="!deleteForm.valid">
														تنفيذ
													</button>

												</form>

											</div>
										</div>

										<div *ngIf="count < resultObj['aItemsPerPage']" class="text-right">

											<div style="margin-top: 15px;">
												<span> إجمالى : </span>
												<span>( {{ count }} )</span>
											</div>

										</div>

										<ng-container *ngIf="count > resultObj['aItemsPerPage']">

											<div class="col-md-3 text-right">

												<div style="margin-top: 10px;">
													<span>من : </span>
													<span>( {{resultObj['from']}} )</span>

													<span> الى : </span>
													<span>( {{resultObj['to']}} )</span>

													<span> إجمالى : </span>
													<span>( {{resultObj['total']}} )</span>
												</div>

											</div>

											<div class="col-md-5 text-right">

												<ul class="pagination modal-3">

													<li>
														<a *ngIf="resultObj['previous'] === null" class="prev disabled">
															<i class="la la-caret-left"></i>
														</a>
													</li>

													<li>
														<a *ngIf="resultObj['previous'] !== null" class="prev" [routerLink]="['/levels/all-levels']"
														 [queryParams]="{ page: resultObj['previous'], sort: resultObj['sort'], type: resultObj['type'], searchName: resultObj['searchName'] }">
															<i class="la la-caret-left"></i>
														</a>
													</li>

													<ng-container *ngFor="let obj of resultObj['pages']; let i = index">

														<li>
															<a *ngIf="resultObj['current_page'] == i+1" class="active">{{obj}}</a>
														</li>

														<li>
															<a *ngIf="resultObj['current_page'] != i+1" [class]="resultObj['current_page'] == i+1 ? 'active' : '' "
															 [routerLink]="['/levels/all-levels']" [queryParams]="{ page: obj, sort: resultObj['sort'], type: resultObj['type'], searchName: resultObj['searchName'] }">{{obj}}</a>
														</li>

													</ng-container>

													<li>
														<a *ngIf="resultObj['next'] === null" class="next disabled">
															<i class="la la-caret-right"></i>
														</a>
													</li>
													<li>
														<a *ngIf="resultObj['next'] !== null" class="next" [routerLink]="['/levels/all-levels']" [queryParams]="{ page: resultObj['next'], sort: resultObj['sort'], type: resultObj['type'], searchName: resultObj['searchName'] }">
															<i class="la la-caret-right"></i>
														</a>
													</li>

												</ul>

											</div>

										</ng-container>

									</div>


								</ng-template>

								<ng-template #noData>
									<div class="center-content">
										<img [src]="loadingImgPath" alt="Loading..." class="loading-img">
									</div>
								</ng-template>


							</div>

						</div>

						<!--end::Section-->
					</div>
				</div>

				<div *ngIf="levels_view === false" class="m-portlet">
					<div class="m-portlet__body">
						<div class="m-form__section m-form__section--first">

							<div class="m-alert m-alert--icon alert alert-danger" role="alert">
								<div class="m-alert__icon">
									<i class="flaticon-danger"></i>
								</div>
								<div class="m-alert__text">
									<strong>
										{{ commService.permissionMsgType }}
									</strong>
									{{ commService.permissionMsg }}
								</div>
							</div>

						</div>
					</div>
				</div>

				<!--end::Portlet-->
			</div>
		</div>
	</div>

</ng-template>

<ng-template #load>
	<div class="center-content">
		<img [src]="loadingImgPath" alt="Loading..." class="loading-img">
	</div>
</ng-template>