<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">

            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>

            <h3 class="m-subheader__title">
                 - الصفحة غير موجودة
            </h3>

        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div>
        الصفحة غير موجودة
    </div>
</div>