<ng-container *ngIf="isDataAvailable === true; then ok else load"></ng-container>
<ng-template #ok>

	<!-- BEGIN: Subheader -->
	<div class="m-subheader" appunwraptag="">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a routerLink="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a routerLink="/members/all-members" class="m-nav__link">
							<span class="m-nav__link-text">
								كافة الأعضاء
							</span>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">

							<span *ngIf="add_action" class="m-nav__link-text">
								إضافة عضو جديد
							</span>

							<span *ngIf="edit_action" class="m-nav__link-text">
								تعديل العضو
							</span>

						</a>
					</li>
				</ul>
			</div>


		</div>
	</div>
	<!-- END: Subheader -->

	<div class="m-content">

		<!--begin::Form-->
		<div class="m-form" id="memberForm">

			<div *ngIf="(members_add && page_id === null) || (members_edit && page_id !== null)" class="row">

				<div class="col-xl-8">
					<!--Begin::Main Portlet-->
					<div class="m-portlet">

						<!--begin: Form Wizard-->
						<div class="m-wizard m-wizard--1 m-wizard--success m-wizard--step-first" id="m_wizard">
							<!--begin: Message container -->
							<div class="m-portlet__padding-x">
								<!-- Here you can put a message or alert -->
							</div>
							<!--end: Message container -->

							<div class="m-portlet__body">

								<div class="m-section">
									<h2 class="m-section__heading" *ngIf="add_action">البيانات الأساسية</h2>
									<h2 class="m-section__heading" *ngIf="edit_action">تعديل العضو : {{full_name_title}}
									</h2>
									<div class="m-separator m-separator--fit"></div>
								</div>

								<div class="m-form__section m-form__section--first">

									<div class="row">

										<div class="col-md-6">

											<div class="form-group m-form__group">
												<label for="full_name">
													الاسم الكامل :
												</label>
												<input id="full_name" name="full_name" [(ngModel)]="full_name"
													type="text" class="form-control m-input" placeholder="الاسم الكامل"
													autocomplete="off" required (keyup)="onKeyUpfull_name($event)">

												<ng-container *ngIf="successfull_name">
													<span class="m-form__help" style="color: red">
														{{ full_nameErrorMsg }}
													</span>
												</ng-container>

											</div>
										</div>

										<div class="col-md-6">

											<div class="form-group m-form__group">
												<label for="mobile">
													رقم الهاتف :
												</label>
												<input id="mobile" name="mobile" [(ngModel)]="mobile" type="text"
													title="الرجاء ادخال ارقام فقط" class="form-control m-input"
													placeholder="رقم الهاتف" autocomplete="off"
													(keyup)="onKeyUpMobile($event)" (blur)="onBlurMobile($event)">

												<ng-container *ngIf="successMobile">
													<span class="m-form__help" style="color: red">
														{{ mobileErrorMsg }}
													</span>
												</ng-container>
												<ng-container *ngIf="errorMobileErrorExsistMsg && add_action===true">
													<span class="m-form__help" style="color: red">
														{{ mobileErrorExsistMsg }}
													</span>
												</ng-container>
											</div>

										</div>

										<div class="col-md-12">

											<div class="form-group m-form__group">
												<label for="email">
													البريد الإلكترونى :
												</label>
												<input id="email" name="email" [(ngModel)]="email" type="email"
													class="form-control m-input" placeholder="البريد الإلكترونى"
													autocomplete="off" required (keyup)="onKeyUpEmail($event)"
													(blur)="onBlurEmail($event)">

												<ng-container *ngIf="successEmail">
													<span class="m-form__help" style="color: red">
														{{ emailErrorMsg }}
													</span>
												</ng-container>
												<ng-container *ngIf="errorEmailErrorExsistMsg">
													<span class="m-form__help" style="color: red">
														{{ emailErrorExsistMsg }}
													</span>
												</ng-container>

											</div>

										</div>

									</div>

									<br>

									<div class="row">

										<div class="col-md-6">
											<div class="form-group m-form__group">
												<label for="password">
													كلمة المرور :
												</label>
												<input id="password" name="password" [(ngModel)]="password"
													type="password" class="form-control m-input"
													placeholder="كلمة المرور" autocomplete="off" required
													(keyup)="onKeyUpPassword($event)">

												<ng-container *ngIf="successPassword">
													<span class="m-form__help" style="color: red">
														{{ passwordErrorMsg }}
													</span>
												</ng-container>

											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group m-form__group">
												<label for="confirm_password">
													تأكيد كلمة المرور :
												</label>
												<input id="confirm_password" name="confirm_password"
													[(ngModel)]="confirm_password" type="password"
													class="form-control m-input" placeholder="تأكيد كلمة المرور"
													autocomplete="off" required
													(keyup)="onKeyUpConfirmPassword($event)">

												<ng-container *ngIf="successConfirmPassword">
													<span class="m-form__help" style="color: red">
														{{ confirmPasswordErrorMsg }}
													</span>
												</ng-container>

											</div>
										</div>

									</div>

									<div *ngIf="misMatchConfirm" class="row">
										<br>
										<div class="col-md-12 text-center">
											<span class="m-form__help" style="color: red">
												{{ misMatchConfirmErrorMsg }}
											</span>
										</div>

									</div>
									<br>




									<div class="row">


										<div class="col-md-3">

											<div class="form-group m-form__group">
												<label>

													خط العرض

												</label>
												<input type="text" class="form-control m-input" [(ngModel)]="lat"
													placeholder="خط العرض" />

											</div>

										</div>
										<div class="col-md-3">

											<div class="form-group m-form__group">
												<label>
													خط الطول

												</label>
												<input type="text" class="form-control m-input" [(ngModel)]="lon"
													placeholder="خط الطول" />

											</div>

										</div>
										<div class="col-md-6">

											<div class="form-group m-form__group">
												<label>
													العنوان بالحروف

												</label>
												<input type="text" class="form-control m-input" [(ngModel)]="area"
													placeholder="العنوان" />

											</div>

										</div>

									</div>
									<div class="form-group m-form__group col-md-12" *ngIf="errorPlaceAddress">
										<ng-container *ngIf="errorPlaceAddress">
											<div style="margin-top: 10px;">
												<span class="m-form__help" style="color: red">
													{{ adderssplacemsgerror }}
												</span>
											</div>
										</ng-container>
									</div>
									<br>
									<div class="row">

										<div class="col-md-12">

											<div class="form-group m-form__group">
												<label for="user_type">
													نوع العضوية :
												</label>
												<select class="form-control" id="user_type" [(ngModel)]="user_type">
													<option value="student"> طالب </option>
													<option value="parent"> ولي امر</option>
													<option value="teacher"> مدرس</option>
												</select>

											</div>

										</div>

									</div>

									<br>

									<div class="row" *ngIf="user_type === 'student' ">

										<div class="col-md-4">

											<div class="form-group m-form__group">
												<label for="country_id">
													الدولة
												</label>

												<select class="form-control" id="country_id" [(ngModel)]="country_id"
													#area (change)="getStagesWithCountry(country_id)">

													<option *ngFor="let country of all_countries; let inx = index"
														value="{{country.id}}">
														{{country.name}}
													</option>

												</select>

											</div>

										</div>
										<div class="col-md-4" *ngIf="country_id > 0">

											<div class="form-group m-form__group">
												<label for="stage_id">
													المرحلة
												</label>

												<select class="form-control" id="stage_id" [(ngModel)]="stage_id" #area
													(change)="getGradesWithStageID(stage_id)">
													<option value="">
														إختر مرحلة
													</option>
													<option *ngFor="let stage of all_country_stages; let inx = index"
														value="{{stage.id}}">
														{{stage.name}}
													</option>

												</select>
												<ng-container *ngIf="success_stage">
													<span class="m-form__help" style="color: red">
														{{ stageErrorMsg }}
													</span>
												</ng-container>

											</div>
										</div>
										<div class="col-md-4" *ngIf="stage_id > 0">


											<div class="form-group m-form__group">
												<label for="grade_id">
													الصف
												</label>

												<select class="form-control" id="grade_id" [(ngModel)]="grade_id" #area>
													<option value="">
														إختر صف
													</option>
													<option *ngFor="let grade of all_stage_grades; let inx = index"
														value="{{grade.id}}">
														{{grade.name}}
													</option>

												</select>

												<ng-container *ngIf="success_grade">
													<span class="m-form__help" style="color: red">
														{{ gradeErrorMsg }}
													</span>
												</ng-container>

											</div>
										</div>

									</div>
									<br>
									<div class="row" *ngIf="user_type === 'student' ">
										<div class="col-md-6">
											<div class="form-group m-form__group">
												<label for="parent">
													الرقم التعريفي لولي الامر :
												</label>

												<div class="row" *ngFor="let parent of parentIDs; let indexp= index">

													<div class="col-md-11">
														<input type="number" autocomplete="off" id="myInput"
															(keyup)="getSearchParents(indexp)"
															class="form-control m-input" [(ngModel)]="parent.parent_id"
															placeholder="الرقم التعريفي" />

														<ul id="myUL"
															*ngIf="searchstudentIdsdata && selectedsearch==indexp">

															<li *ngFor="let sID of searchstudentIds "
																(click)="setParentId(indexp,sID.id)">
																<a href="#">
																	<img *ngIf="sID.img && sID.img !=''"
																		[src]="commService._hostName + 'uploads/users/' + sID.img"
																		width="30px" height="30px">
																	<img *ngIf="!sID.img  || sID.img =='' "
																		[src]="localParent" width="30px" height="30px">
																</a>
																<a href="#">
																	{{sID.full_name}}
																</a>

															</li>
														</ul>
													</div>
													<div class="col-md-1 pl-0">
														<a *ngIf="inx != 0"
															class="btn btn-danger m-btn btn-sm m-btn m-btn--icon m-btn--pill"
															href="javascript:;" ng-reflect-href="javascript:;"
															(click)="removeParent(indexp)">
															<span>
																<span>حذف </span>

															</span>
														</a>
													</div>
													<div class="col-md-12">
														<div class="row">
															<div class="col-md-6">
																<div class="row  mt-2">
																	<label class="col-7 pt-2 pr-0">تم التحقيق</label>
																	<div class="col-5 pl-0 pr-0">
																		<span
																			class="m-switch m-switch--outline m-switch--success">
																			<label>
																				<input checked="checked"
																					[name]="'option'+indexop"
																					[(ngModel)]="parent.validate"
																					type="checkbox">
																				<span></span>
																			</label>
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<ng-container>

													<a class="btn btn-primary m-btn btn-sm m-btn m-btn--icon m-btn--pill"
														href="javascript:;" (click)="addMoreParent()">
														<span>
															<span>إضافة ولى امر </span>&nbsp;
															<i class="fa fa-plus-square"></i>
														</span>
													</a>
													<br>
													<br>
												</ng-container>

											</div>
										</div>
									</div>

									<div class="row" *ngIf="user_type === 'parent' ">
										<div class="col-md-6">
											<div class="form-group m-form__group">
												<label for="parent">
													الرقم التعريفي للطالب :
												</label>

												<div class="row" *ngFor="let student of studentIDs; let indexps= index">

													<div class="col-md-11">
														<input type="number" autocomplete="off" id="myInput"
															(keyup)="getSearchStudents(indexps)"
															class="form-control m-input" [(ngModel)]="student.student_id"
															placeholder="الرقم التعريفي" />

														<ul id="myUL"
															*ngIf="searchparentIdsdata && selectedsearch==indexps">

															<li *ngFor="let pID of searchparentIds"
																(click)="setStudentId(indexps,pID.id)">
																<a href="#">
																	<img *ngIf="pID.img && pID.img !=''"
																		[src]="commService._hostName + 'uploads/users/' + pID.img"
																		width="30px" height="30px">
																	<img *ngIf="!pID.img  || pID.img =='' "
																		[src]="localParent" width="30px" height="30px">
																</a>
																<a href="#">
																	{{pID.full_name}}
																</a>

															</li>
														</ul>
													</div>
													<div class="col-md-1 pl-0">
														<a *ngIf="inx != 0"
															class="btn btn-danger m-btn btn-sm m-btn m-btn--icon m-btn--pill"
															href="javascript:;" ng-reflect-href="javascript:;"
															(click)="removeStudent(indexps)">
															<span>
																<span>حذف </span>

															</span>
														</a>
													</div>
													<div class="col-md-12">
														<div class="row">
															<div class="col-md-6">
																<div class="row  mt-2">
																	<label class="col-7 pt-2 pr-0">تم التحقيق</label>
																	<div class="col-5 pl-0 pr-0">
																		<span
																			class="m-switch m-switch--outline m-switch--success">
																			<label>
																				<input checked="checked"
																					[name]="'option'+indexop"
																					[(ngModel)]="student.validate"
																					type="checkbox">
																				<span></span>
																			</label>
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<ng-container>

													<a class="btn btn-primary m-btn btn-sm m-btn m-btn--icon m-btn--pill"
														href="javascript:;" (click)="addMoreStudent()">
														<span>
															<span>إضافة طالب </span>&nbsp;
															<i class="fa fa-plus-square"></i>
														</span>
													</a>
													<br>
													<br>
												</ng-container>

											</div>
										</div>
									</div>
									<br>
									<div class="row" *ngIf="errorRequirData">

										<div class="col-md-12">

											<ng-container *ngIf="errorRequirData">
												<span class="m-form__help" style="color: red">
													{{ requirDataerror }}
												</span>
											</ng-container>

										</div>
									</div>
									<div class="row">

										<div class="col-md-12">

											<div class="form-group m-form__group">
												<label>
													ملاحظــــات :
												</label>

												<textarea name="notes" [(ngModel)]="notes" class="form-control m-input"
													id="notes" placeholder="ملاحظــــات"
													aria-describedby="description-error" rows="5"
													aria-invalid="false"></textarea>

											</div>

										</div>

									</div>

								</div>
							</div>

						</div>
						<!--end: Form Wizard-->
					</div>
					<!--End::Main Portlet-->
				</div>
				<div class="col-xl-4">

					<div class="m-portlet">
						<div class="m-portlet__body">
							<div class="m-section">

								<h2 class="m-section__heading">الصورة</h2>
								<div class="m-separator m-separator--fit"></div>

								<div class="m-section__content">
									<div class="form-group m-form__group text-center">

										<input type="file" name="file" [(ngModel)]="file" id="customFile"
											(change)="showPreviewImage($event, 'file')" accept="image/*"
											style="opacity: 0; position: absolute; left: 0;top: 70px; cursor: pointer; z-index: 100; width: 100%; height: 250px;">

										<img *ngIf="successImg" class="img-thumbnail img-responsive"
											style="position: relative; width: 100%; height: 250px;" [src]="localUrl"
											alt="صورة العضو">

										<a *ngIf="successRemoveImg"
											class="btn btn-danger m-btn btn-sm m-btn m-btn--icon m-btn--pill mt-2"
											href="javascript:;" ng-reflect-href="javascript:;"
											(click)="removeImg('file')">
											<span>
												<span>
													حذف
												</span>
												&nbsp;
												<i class="fa fa-trash-o"></i>

											</span>
										</a>

									</div>
								</div>

							</div>
						</div>
					</div>


					<div class="m-portlet">
						<div class="m-portlet__body">
							<div class="m-section">
								<h2 class="m-section__heading">حفظ البيانات</h2>
								<div class="m-separator m-separator--fit"></div>
							</div>

							<div class="m-form__group form-group row">
								<label class="col-8 col-form-label"> تفعيل / تعطيل</label>
								<div class="col-4">
									<span class="m-switch m-switch--outline m-switch--success">
										<label>
											<input checked="checked" name="status" [(ngModel)]="status" type="checkbox">
											<span></span>
										</label>
									</span>
								</div>
							</div>



							<button *ngIf="add_action" [disabled]="disablebtn" type="button" class="btn btn-primary"
								(click)="addEditUser()"><img *ngIf="addEditLoader" [src]="loadingImgPath"
									alt="Loading..." width="20px" height="20px">
								حفظ العضو
							</button>

							<button *ngIf="edit_action" [disabled]="disablebtn" type="button" class="btn btn-primary"
								(click)="addEditUser()"><img *ngIf="addEditLoader" [src]="loadingImgPath"
									alt="Loading..." width="20px" height="20px">
								تعديل العضو
							</button>

						</div>
					</div>





				</div>

			</div>

			<div *ngIf="(members_add === false && page_id === null) || (members_edit === false && page_id !== null)"
				class="row">
				<div class="m-portlet">
					<div class="m-portlet__body">
						<div class="m-form__section m-form__section--first">

							<div class="m-alert m-alert--icon alert alert-danger" role="alert">
								<div class="m-alert__icon">
									<i class="flaticon-danger"></i>
								</div>
								<div class="m-alert__text">
									<strong>
										{{ commService.permissionMsgType }}
									</strong>
									{{ commService.permissionMsg }}
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
		<!--end::Form-->

	</div>

</ng-template>

<ng-template #load>
	<div class="center-content">
		<img [src]="loadingImgPath" alt="Loading..." class="loading-img">
	</div>
</ng-template>