<ng-container *ngIf="isDataAvailable === true; then ok else load"></ng-container>

<ng-template #ok>

	<!-- BEGIN: Subheader -->
	<div class="m-subheader" appunwraptag="">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a routerLink="/" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">
						-
					</li>

					<li class="m-nav__item">
						<a routerLink="/stages/all-stages" class="m-nav__link">
							<span class="m-nav__link-text">
								كافة المراحل
							</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="col-xl-3 m--align-right order-1 order-xl-2">
				<a href="javascript:void(0)" (click)="goToAddStage()"
					class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air">
					<span>
						<span>
							إضافة مرحلة جديدة
						</span>
						&nbsp;
						<i class="la flaticon-plus"></i>

					</span>
				</a>
				<div class="m-separator m-separator--dashed d-xl-none"></div>
			</div>

		</div>
	</div>
	<!-- END: Subheader -->

	<div class="m-content">
		<div class="row">
			<div class="col-xl-12">
				<!--begin::Portlet-->
				<div *ngIf="stages_view" class="m-portlet m-portlet--tab">

					<div class="m-portlet__body">
						<!--begin::Section-->
						<div class="m-section">
							<div class="m-section__content">

								<div class="row" [formGroup]="categoryForm">

									<div class="col-md-7">

										<input id="searchName" type="text" [(ngModel)]="searchName"
											formControlName="searchName" class="form-control m-input"
											placeholder="ابحث ب اسم المراحلة ..." autocomplete="off">

									</div>
									<div class="col-md-3">
										<select id="searchCountry" formControlName="searchCountry"
											[(ngModel)]="searchCountry" class="form-control m-input"
											aria-describedby="option-error" aria-invalid="false" required>
											<option value="" [selected]="searchCountry == ''">إختيار الدولة</option>
											<option *ngFor="let country of all_countries; let inx = index"
												value="{{country.id}}">
												{{country.name}}
											</option>

										</select>

									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-success"
											(click)="goToSearch(searchName,searchCountry)">بحث</button>
									</div>
								</div>

								<br>

								<ng-container *ngIf="all_stages?.length > 0; then data else noAvailableData">
								</ng-container>

								<ng-template #data>

									<div class="table-responsive">
										<table class="table table-bordered table-hover">
											<thead>
												<tr>
													<th class="text-center" style="width: 60px;">
														<label class="m-checkbox m-checkbox--success">
															<input type="checkbox" class="check_all"
																(click)="commService.check_all($event)">
															<span></span>
														</label>
													</th>
													<th class="text-center"><i
															class="m-menu__link-icon la la-image"></i>
													</th>
													
													<th>
														<span style="cursor: pointer;" (click)="getSortType('name')">
															<span *ngIf="stagesStatus !== 'name'">اسم المراحلة</span>
															<span *ngIf="stagesStatus === 'name'"
																style="color: #34BFA3">اسم المراحلة</span>
															&nbsp;
															<i *ngIf="stagesStatus !== 'name'" class="fa fa-sort"></i>
															<ng-container *ngIf="stagesStatus === 'name'">
																<i class="la la-sort-amount-asc" style="color: #34BFA3"
																	*ngIf="this.sortDirection === 'asc'"></i>
																<i class="la la-sort-amount-desc" style="color: #34BFA3"
																	*ngIf="this.sortDirection === 'desc'"></i>
															</ng-container>
														</span>
													</th>
													<th>الدولة</th>


													<th>حالة المراحلة</th>

													<th>أضيف بواسطة</th>
													<th>تاريخ الإضافة</th>

													<th style="width: 60px">تعديل</th>

												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let stageInfo of all_stages; let i = index;"
													[formGroup]="categoryForm">

													<td class="text-center">
														<label class="m-checkbox m-checkbox--success">
															<input class="checkbox_item" type="checkbox" name="items[]"
																(change)="commService.toggleCheckbox($event, stageInfo.id)"
																value="{{stageInfo.id}}">
															<span></span>
														</label>
													</td>

													<td class="text-center">
														<img class="rounded-circle" width="30" height="30"
															[src]="catImgPath + stageInfo.img" alt="صورة المراحلة">
													</td>
													
													<td>{{ stageInfo.name }}</td>
													<td>{{ stageInfo.country_name }}</td>
													<td>
														<span *ngIf="stageInfo.status === '1'"
															style="color: #34bfa3;">مفعل</span>
														<span *ngIf="stageInfo.status === '0'" style="color: red;">غير
															مفعل</span>
													</td>

													<td>{{ stageInfo.user_full_name }}</td>
													<td>{{ stageInfo.date_added }}</td>
													<td>
														<a routerLink="/stages/stage/{{stageInfo.id}}"
															class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
															name="تعديل">
															<i class="la la-edit"></i>
														</a>

													</td>

												</tr>
											</tbody>
										</table>
									</div>

									<div class="row">
										<div class="col-md-4">
											<div style="margin-top: 10px;">

												<form class="m-form form-inline" id="deleteStageForm"
													[formGroup]="deleteForm"
													(ngSubmit)="deleteStageConfirm(deleteForm.value)">

													<div class="form-group">
														<select id="deleteMultiple" formControlName="deleteMultiple"
															[(ngModel)]="deleteMultiple" class="form-control m-input"
															aria-describedby="option-error" aria-invalid="false"
															required>
															<option value="" [selected]="selectedOption === true">اختيار
																مهمة</option>
															<option value="delete">حذف</option>
														</select>
													</div>
													&nbsp; &nbsp;
													<button type="submit" class="btn btn-success"
														[disabled]="!deleteForm.valid">
														تنفيذ
													</button>

												</form>

											</div>
										</div>

										<div *ngIf="count < resultObj['aItemsPerPage']" class="text-right">

											<div style="margin-top: 15px;">
												<span> إجمالى : </span>
												<span>( {{ count }} )</span>
											</div>

										</div>

										<ng-container *ngIf="count > resultObj['aItemsPerPage']">

											<div class="col-md-3 text-right">

												<div style="margin-top: 10px;">
													<span>من : </span>
													<span>( {{resultObj['from']}} )</span>

													<span> الى : </span>
													<span>( {{resultObj['to']}} )</span>

													<span> إجمالى : </span>
													<span>( {{resultObj['total']}} )</span>
												</div>

											</div>

											<div class="col-md-5 text-right">

												<ul class="pagination modal-3">

													<li>
														<a *ngIf="resultObj['previous'] === null" class="prev disabled">
															<i class="la la-caret-left"></i>
														</a>
													</li>

													<li>
														<a *ngIf="resultObj['previous'] !== null" class="prev"
															[routerLink]="['/stages/all-stages']"
															[queryParams]="{ page: resultObj['previous'], sort: resultObj['sort'], type: resultObj['type'], searchName: resultObj['searchName'], searchCountry: resultObj['searchCountry'] }">
															<i class="la la-caret-left"></i>
														</a>
													</li>

													<ng-container *ngFor="let obj of resultObj['pages']; let i = index">

														<li>
															<a *ngIf="resultObj['current_page'] == i+1"
																class="active">{{obj}}</a>
														</li>

														<li>
															<a *ngIf="resultObj['current_page'] != i+1"
																[class]="resultObj['current_page'] == i+1 ? 'active' : '' "
																[routerLink]="['/stages/all-stages']"
																[queryParams]="{ page: obj, sort: resultObj['sort'], type: resultObj['type'], searchName: resultObj['searchName'], searchCountry: resultObj['searchCountry']  }">{{obj}}</a>
														</li>

													</ng-container>

													<li>
														<a *ngIf="resultObj['next'] === null" class="next disabled">
															<i class="la la-caret-right"></i>
														</a>
													</li>
													<li>
														<a *ngIf="resultObj['next'] !== null" class="next"
															[routerLink]="['/stages/all-stages']"
															[queryParams]="{ page: resultObj['next'], sort: resultObj['sort'], type: resultObj['type'], searchName: resultObj['searchName'], searchCountry: resultObj['searchCountry']  }">
															<i class="la la-caret-right"></i>
														</a>
													</li>

												</ul>

											</div>

										</ng-container>

									</div>


								</ng-template>

								<ng-template #noAvailableData>
									<div class="center-content" *ngIf="noData === false">
										<img [src]="loadingImgPath" alt="Loading..." class="loading-img">
									</div>
									<div class="center-content" *ngIf="noData === true">
										<b>لا يوجد بيانات الآن ...</b>
									</div>
								</ng-template>


							</div>

						</div>

						<!--end::Section-->
					</div>
				</div>

				<div *ngIf="stages_view === false" class="m-portlet">
					<div class="m-portlet__body">
						<div class="m-form__section m-form__section--first">

							<div class="m-alert m-alert--icon alert alert-danger" role="alert">
								<div class="m-alert__icon">
									<i class="flaticon-danger"></i>
								</div>
								<div class="m-alert__text">
									<strong>
										{{ commService.permissionMsgType }}
									</strong>
									{{ commService.permissionMsg }}
								</div>
							</div>

						</div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>

</ng-template>

<ng-template #load>
	<div class="center-content">
		<img [src]="loadingImgPath" alt="Loading..." class="loading-img">
	</div>
</ng-template>