<ng-container
  *ngIf="isDataAvailable === true; then ok; else load"
></ng-container>
<ng-template #ok>
  <!-- BEGIN: Subheader -->
  <div class="m-subheader" appunwraptag="">


<!-- <app-upload-files-co (setImages)="setNewImages($event)" [files]="[]" type='images'
									folderName='companies'>
</app-upload-files-co> -->




    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a routerLink="/" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">-</li>
          <li class="m-nav__item">
            <a routerLink="/marketing/all-companies" class="m-nav__link">
              <span class="m-nav__link-text"> كافة الشركات </span>
            </a>
          </li>
          <li class="m-nav__separator">-</li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span *ngIf="add_action" class="m-nav__link-text">
                إضافة شركه جديده
              </span>

              <span *ngIf="edit_action" class="m-nav__link-text">
                تعديل الشركه
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END: Subheader -->

  <div class="m-content">
    <div
      class="row"
      *ngIf="
        (companies_add && page_id === null) ||
        (companies_edit && page_id !== null)
      "
    >
      <div class="col-xl-8">
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-portlet m-portlet--tabs">
              <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                  <ul
                    class="nav nav-tabs m-tabs-line m-tabs-line--success m-tabs-line--2x"
                    role="tablist"
                  >
                    <li class="nav-item m-tabs__item">
                      <a
                        class="nav-link m-tabs__link active"
                        data-toggle="tab"
                        href="#m_tabs_1"
                        role="tab"
                      >
                        <img
                          [src]="langImgPath + lang_ar_image"
                          alt="{{ lang_ar_name }}"
                          class="img-circle"
                          width="30"
                          height="30"
                        />
                        {{ lang_ar_name }}
                      </a>
                    </li>

                    <li class="nav-item m-tabs__item">
                      <a
                        class="nav-link m-tabs__link"
                        data-toggle="tab"
                        href="#m_tabs_2"
                        role="tab"
                      >
                        <img
                          [src]="langImgPath + lang_en_image"
                          alt="{{ lang_en_name }}"
                          class="img-circle"
                          width="30"
                          height="30"
                        />
                        {{ lang_en_name }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="m-portlet__body">
                <div class="tab-content">
                  <div class="tab-pane active" id="m_tabs_1" role="tabpanel">
                    <div class="form-group m-form__group">
                      <label for="title"> اسم الشركه : </label>

                      <input
                        [(ngModel)]="page_title_lang_ar"
                        type="text"
                        class="form-control m-input"
                        placeholder="{{ lang_ar_name }}"
                        autocomplete="off"
                        required
                        (keyup)="onKeyUpPageTitleAr($event)"
                      />
                      <ng-container *ngIf="successfull_page_title_lang_ar">
                        <br /><span class="m-form__help" style="color: red">
                          {{ page_title_lang_arErrorMsg }}
                        </span>
                      </ng-container>
                    </div>

                    <div class="form-group m-form__group">
                      <label for="title"> عنوان الشركه : </label>

                      <input
                        [(ngModel)]="page_address_lang_ar"
                        type="text"
                        class="form-control m-input"
                        placeholder="{{ lang_ar_name }}"
                        autocomplete="off"
                        required
                        (keyup)="onKeyUpPageAddresAr($event)"
                      />
                      <ng-container *ngIf="successfull_page_address_lang_ar">
                        <br /><span class="m-form__help" style="color: red">
                          {{ page_address_lang_arErrorMsg }}
                        </span>
                      </ng-container>
                    </div>

                    <div class="form-group m-form__group">
                      <label> وصف الشركه : </label>
                      <!-- <ejs-richtexteditor #toolsRTE id='alltoolRTE' [(ngModel)]="value"  [toolbarSettings]='tools'    ></ejs-richtexteditor> -->
                      <div class="summernote" id="m_summernote_ar"></div>
                      <ng-container *ngIf="successfull_m_summernote_ar">
                        <br /><span class="m-form__help" style="color: red">
                          {{ m_summernote_arErrorMsg }}
                        </span>
                      </ng-container>
                    </div>
                  </div>

                  <div class="tab-pane" id="m_tabs_2" role="tabpanel">
                    <div class="form-group m-form__group">
                      <label for="title"> اسم الشركه : </label>

                      <input
                        [(ngModel)]="page_title_lang_en"
                        type="text"
                        class="form-control m-input"
                        placeholder="{{ lang_en_name }}"
                        autocomplete="off"
                        required
                        (keyup)="onKeyUpPageTitleEn($event)"
                      />
                      <ng-container *ngIf="successfull_page_title_lang_en">
                        <br /><span class="m-form__help" style="color: red">
                          {{ page_title_lang_enErrorMsg }}
                        </span>
                      </ng-container>
                    </div>

                    <div class="form-group m-form__group">
                      <label for="title"> عنوان الشركه : </label>

                      <input
                        [(ngModel)]="page_address_lang_en"
                        type="text"
                        class="form-control m-input"
                        placeholder="{{ lang_en_name }}"
                        autocomplete="off"
                        required
                        (keyup)="onKeyUpPageAddresEn($event)"
                      />
                      <ng-container *ngIf="successfull_page_address_lang_en">
                        <br /><span class="m-form__help" style="color: red">
                          {{ page_address_lang_enErrorMsg }}
                        </span>
                      </ng-container>
                    </div>

                    <div class="form-group m-form__group">
                      <label> وصف الشركه : </label>

                      <div class="summernote" id="m_summernote_en"></div>
                      <ng-container *ngIf="successfull_m_summernote_en">
                        <br /><span class="m-form__help" style="color: red">
                          {{ m_summernote_enErrorMsg }}
                        </span>
                      </ng-container>
                    </div>
                  </div>

                  <div class="row mt-2">
                    <div class="col-md-6">
                      <div class="form-group m-form__group">
                        <label> البريد الالكتروني </label>
                        <input
                          type="email"
                          class="form-control m-input"
                          (keyup)="onKeyUpEmail($event)"
                          [(ngModel)]="email"
                          placeholder="البريد الالكتروني "
                        />
                        <!-- {{successfull_Email}} -->
                        <ng-container *ngIf="successfull_Email">
                          <br /><span class="m-form__help" style="color: red">
                            {{ EmailErrorMsg }}
                          </span>
                        </ng-container>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group m-form__group">
                        <label>  الويب سايت </label>
                        <input
                          type="url"
                          class="form-control m-input"

                          [(ngModel)]="websiteUrl"
                          placeholder=" الويب سايت "
                        />
                        <!-- {{successfull_Email}} -->
                        <!-- <ng-container *ngIf="successfull_Email">
                          <br /><span class="m-form__help" style="color: red">
                            {{ EmailErrorMsg }}
                          </span>
                        </ng-container> -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group m-form__group">
                        <label> خط العرض </label>
                        <input
                          type="text"
                          class="form-control m-input"
                          [(ngModel)]="lat"
                          placeholder="خط العرض"
                        />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group m-form__group">
                        <label> خط الطول </label>
                        <input
                          type="text"
                          class="form-control m-input"
                          [(ngModel)]="lon"
                          placeholder="خط الطول"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div *ngFor="let item of phones" class="m-1">
                        <input
                          class="form-control"
                          type="text"
                          [(ngModel)]="item.phone"
                          placeholder="رقم الهاتف"
                        />
                      </div>

                      <ng-container>
                        <br />
                        <a
                          class="btn btn-primary m-btn btn-sm m-btn m-btn--icon m-btn--pill"
                          href="javascript:;"
                          (click)="addMoreNumber(inxq)"
                        >
                          <span>
                            <i class="fa fa-plus-square"></i>
                            <span>إضافة رقم اخر </span>&nbsp;
                          </span>
                        </a>
                        <br />
                        <br />
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4">
        <!-- <div class="m-portlet"> -->
        <!-- <div class="m-portlet__body"> -->
        <!-- <div class="m-section">

                            <h2 class="m-section__heading">القسم</h2>
                            <div class="m-separator m-separator--fit"></div>
                            <div class="form-group m-form__group">
                                <label for="category_id">
                                    اسم القسم :
                                </label>

                                <select class="form-control" id="category_id" [(ngModel)]="category_id" #area>
                                    <option value="" selected="selected">---
                                        إختر قسم ---</option>
                                    <option *ngFor="let category of
                                        categore_parents; let inx= index"
                                        value="{{category.id}}">
                                        {{category.name}}
                                    </option>

                                </select>

                                <ng-container *ngIf="success_category_id">
                                    <div style="margin-top: 10px;">
                                        <span class="m-form__help" style="color:
                                            red">
                                            {{ categoryIDErrorMsg }}
                                        </span>
                                    </div>
                                </ng-container>

                            </div>

                        </div> -->
        <!-- </div> -->
        <!-- </div> -->

        <div class="m-portlet">
          <div class="m-portlet__body">
            <div class="m-section">
              <h2 class="m-section__heading">الصورة</h2>
              <div class="m-separator m-separator--fit"></div>
              <div class="m-section__content">






<app-upload-files-co (setImages)="setNewImages($event)" [files]="images" type='images'
									folderName='projects'>
</app-upload-files-co>


  <ng-container *ngIf="success_file">
                                        <div style="margin-top: 10px;">
                                            <span class="m-form__help" style="color: red">
                                                {{ fileErrorMsg }}
                                            </span>
                                        </div>
                                    </ng-container>











              </div>
            </div>
          </div>
        </div>

        <div class="m-portlet">
          <div class="m-portlet__body">
            <h5 class="m-section__heading">تفعيل</h5>
            <div class="m-separator m-separator--fit"></div>

            <span
              class="level-checkbox m-switch m-switch--outline m-switch--success"
            >
              <label>
                <input
                  checked="checked"
                  name="status"
                  [(ngModel)]="status"
                  type="checkbox"
                />
                <span></span>
              </label>
            </span>

            <br />
            <br />
            <div class="m-separator m-separator--fit"></div>
            <div class="m-form__group form-group row">
              <label class="col-6 col-form-label">ترتيب الشركه</label>
              <div class="col-5">
                <input
                  id="sort"
                  [(ngModel)]="sort"
                  type="number"
                  class="form-control m-input"
                  autocomplete="off"
                  required
                  (keyup)="onKeyUpCategorySort($event)"
                />
              </div>

              <ng-container *ngIf="successfull_category_sort">
                <br /><br /><span class="m-form__help" style="color: red">
                  {{ category_sortErrorMsg }}
                </span>
              </ng-container>
            </div>

            <div class="m-separator m-separator--fit"></div>
            <h5 class="m-section__heading">حفظ البيانات</h5>
            <div class="m-separator m-separator--fit"></div>

            <button
              *ngIf="add_action"
              [disabled]="disablebtn"
              type="button"
              (click)="!addEditLoader && addEditService()"
              class="btn btn-primary"
            >
              <img
                *ngIf="addEditLoader"
                [src]="loadingImgPath"
                alt="Loading..."
                width="20px"
                height="20px"
              />
              حفظ البيانات
            </button>

            <button
              *ngIf="edit_action"
              [disabled]="disablebtn"
              type="button"
              (click)="!addEditLoader && addEditService()"
              class="btn btn-primary"
            >
              <img
                *ngIf="addEditLoader"
                [src]="loadingImgPath"
                alt="Loading..."
                width="20px"
                height="20px"
              />
              تعديل البيانات
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="
        (companies_add === false && page_id === null) ||
        (companies_edit === false && page_id !== null)
      "
      class="m-portlet"
    >
      <div class="m-portlet__body">
        <div class="m-form__section m-form__section--first">
          <div class="m-alert m-alert--icon alert alert-danger" role="alert">
            <div class="m-alert__icon">
              <i class="flaticon-danger"></i>
            </div>
            <div class="m-alert__text">
              <strong>
                {{ commService.permissionMsgType }}
              </strong>
              {{ commService.permissionMsg }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #load>
  <div class="center-content">
    <img [src]="loadingImgPath" alt="Loading..." class="loading-img" />
  </div>
</ng-template>
